
<style>
footer {
  border-top: none; /* remove default border */
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1); /* subtle shadow on top */
  padding: 20px 0;
  background-color: #fff; /* optional: background color */
}
</style>

<footer class="border-top">

<div class="footContainer" >


<div class="footlogo">
<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/riteshdhurvehk"><i class="fa-brands fa-linkedin"></i></a>
<a target="_blank" rel="noopener noreferrer" href="https://github.com/HKritesh009"><i class="fa-brands fa-github"></i></a>
</div>

<div class="footCopy">
&copy RoomMATE Private Limited
</div>
<div class="footlink">
    <a href="/about">Privacy</a>
    <a href="/about">terms</a>
    <a href="/about">about</a>

</div>
</div>

</footer>