<% layout("layouts/boilerplate") %>

    <div class="container-fluid">
        <div class="row">
              <!-- Sidebar -->
            <%- include('sidebar') %>
            <!-- Main content -->
            <div class="container mt-4">
                <h2 class="text-danger">Delete Account</h2>
                <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                <form action="/user/delete?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Yes, Delete My Account</button>
                    <a href="/user/dashboard" class="btn btn-secondary">Cancel</a>
                </form>
            </div>


        </div>
    </div>